body {
    background-color: hsl(212, 45%, 89%);
    padding: 8px;
    width: 300px;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', serif;
    font-weight: 400;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

@font-face {
    font-family: 'Outfit';
    font-weight: 400; 
    src: url('./Outfit-Regular.ttf') format('truetype'),
  }

  @font-face {
    font-family: 'Outfit';
    font-weight: 700; 
    src: url('./Outfit-Bold.ttf') format('truetype'),
  }


  table {
    width: auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden; 
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

  th {
    background-color: hsl(0, 0%, 100%);
    padding: 8px;
    width: auto;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', serif;
    font-weight: 400;
    align-content: center;
  }



  